body {
    background-color: rgba(255, 228, 196, 0);
   

}
body {
    background-image: url(images/backgroundtowebsite.jpg);
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    display: grid;
    /*grid-template-columns: auto 20fr 20fr; /*første kolone er auto, anden er 6fr og sidste er 4fr*/
    grid-template-areas: /*kolone 1 er header, 2 kolone er header 2 osv (lodret)*/ 
    'header' 'header' 'header'
    'main' 'main' 'main'
    'footer' 'footer' 'footer';
    grid-template-rows: 250px auto 100px; /*header er 250px, main er auto og footer er 100px*/
    width: 100vw;
    max-width: 1500px; /*viden er 100% men kan ikke overstige 1500px*/
    margin:auto; /*sørger for at alt er centreret uanset brede*/
    padding: 10px 20px 30px 40px; /*afstanden mellem content og border*/
    gap: 20px; /*viser hvor stor afstand de er imellem rows og columns*/
    background-color: rgba(245, 222, 179, 0);
    height: auto;
    min-height: 100vh;
}
.header {
    grid-area: header;
    display: grid;
    align-items: center;
    padding: 10px 20px;
    background-color:#2925257c;
    min-height: 100px;

}
.logo {
    max-width: 250px;
    flex-direction: column;

}
.header-buttons {
    justify-self: center;
    display:flex;
    gap: 10px;
    flex-direction: row;
    
}
.header-buttons button {

    font-size: 2rem;
    font-style: bold; 
    padding: 1em 1em 1em 1em;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer; /*viser mus over knappen*/
   
}

.header-buttons button:hover {/*anden end hover?*/
    background-color: #172834;
    color: white;

} 

.main {
    grid-area: main;
    padding: 30px;

}
.main flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
* {
    box-sizing: border-box;
}
.slider {
    width: 600px;
    text-align: center;
    overflow: hidden;
    height: 300px;
    
}
.slides {
    display: flex;

    overflow-x: auto;
    scroll-behavior: x mandatory;
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scroolbar {
    width: 20px;
    height: 20px;
}
.slides::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    background: #462829;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.slides > div:target {

}
.author-info {
    background-color: aliceblue;
    color: bisque;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}
.author-info a {
  color: white;
}


.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider >a:active {
    top:1px;
}
.slider > a:focus {
    background: #c9d8e2;
}
@supports (scroll-snap-type) {
    .slider > a {
    display: none;
}
}

.footer {
    grid-area: footer;
    display: grid;
    background-color:#2925257c;
    color: white;
    text-align: left;
    padding: 30px 20px;
}

.footer-buttons {
    margin-top: 40px; /* afstand fra tekst til knapper */
    color: rgb(14, 1, 1);
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    margin: 5px;
    color: rgb(14, 1, 1);
    border: 2px solid white;
    background-color: #462829;
    text-decoration: none;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.3s ease;
    text-align: left;
}

.btn:hover {
    background-color: white;
    color: #172834;
    cursor: pointer;
}




    
@media (max-widht:1200x) {
    header {
        grid-template-columns: auto 6fr 4fr;
        grid-template-rows: auto auto;
        row-gap: 20px;
        flex-direction: column;
        text-align: center;
    }

}
/*@media (min-widht:700px) {
    header{
        grid-template-columns: auto 6fr 4fr;
        grid-template-rows: auto;
        row-gap: 20px;
        text-align: center;
        flex-direction: column;

    }
    .logo {
        max-width: 150px;
        flex-direction: row;

    }
    .header-buttons button {
        font-size: 0,5rem;
        padding: 0.5 0.5 0.5 0.5;
        flex-direction: row;
    }
}
@media (max-widht:700px) {
    .header{
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        row-gap: 10;
        flex-direction: row;
    }
    .logo {
        max-width: 100px;
        flex-direction: row;
    }
    .header-buttons button {
        font-size: 0,3rem;
        padding:0,1 0,1 0,1 0,1;
        flex-direction: row;
    }*/

@media (max-width:700px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 15px;
        text-align: center;
        flex-direction: column;
    }
}
@media (max-width: 900px) {
    .header-buttons {
        flex-direction: column;
        width: auto;
        text-align: center;
    }
}
@media (max-width:1024px) {
    .header{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 20px;
        flex-direction: column;
    }
    .logo {
        max-width: 150px;
        flex-direction: row;
    }
    .header-buttons button {
        font-size:0.85rem;
        padding:0.7em 1.2em;
        flex-direction: row;
        
    }
}

