/*color*/
$color-primary: #ddb982c7;
$color-sencundary: #000000d7;
$color-accent:#c9d8e2;
$color-accent-2: #462829;

/*primary button*/
$btn-color-border: #ffffff;
$btn-color-hover-bg: #000000;
$btn-color-hover-text: #ffffff;

/*text*/
$text-color-dark:#000000;
$text-color-light: #e6e6e6;
$text-color-secundary: #ddb982c7;

/*bg*/
$bg-primary: #ffffff;
$bg-secundary: #000000;
$bg-transperant: rgba(18, 18, 18, 0.95); /* Mørk læsbar baggrund til burgermenuen */

 
/*fonts og spacing*/
/* Font til overskrifter, logo og titler */
$font-heading: 'Orbitron', sans-serif;
 /* Font til brødtekst, brødtekstafsnit (p), links og knapper */
$font-main: 'Rajdhani', sans-serif;
$transition-normal: 0.3s ease-in-out;
  
  

  

  
 
