/*layout*/
body {
    background-color: rgba(255, 228, 196, 0);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;

}
body {
    background-image: url(images/backgroundtowebsite.jpg);
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}
.container{
    display: grid;
    /*grid-template-columns: auto 20fr 20fr; /*første kolone er auto, anden er 6fr og sidste er 4fr*/
    grid-template-areas: /*kolone 1 er header, 2 kolone er header 2 osv (lodret)*/ 
    'header' 'header' 'header'
    'main' 'main' 'main'
    'footer' 'footer' 'footer';
    grid-template-rows: 250px auto 100px; /*header er 250px, main er auto og footer er 100px*/
    width: 100vw;
    max-width: 1500px; /*viden er 100% men kan ikke overstige 1500px*/
    margin:auto; /*sørger for at alt er centreret uanset brede*/
    padding: 1px 10px 20px 30px 40px; /*afstanden mellem content og border*/
    gap: 20px; /*viser hvor stor afstand de er imellem rows og columns*/
    background-color: rgba(36, 35, 35, 0);
    height: auto;
    min-height: 100vh;
}
.header {
    grid-area: header;
    display: grid;
    align-items: center;
    padding: 10px 20px;
    background-color:#0202024b;
    min-height: 100px;
  

}
.logo {
    max-width: 250px;
    flex-direction: column;

}
.header-buttons {
    justify-self: center;
    display:flex;
    gap: 10px;
    flex-direction: row;
   
}
.header-buttons button {

    font-size: 2rem;
    font-style: normal; 
    padding: 1em 1em 1em 1em;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer; /*viser mus over knappen*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
   
}

.header-buttons button:hover {/*anden end hover?*/
    background-color: #310101;
    color: rgb(255, 255, 255);

} 

.main {
    grid-area: main;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    max-width: 100%;
   
}
.main-flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.footer {
    grid-area: footer;
    display: grid;
    background-color: #0202024b;
    color: white;
    text-align: left;
    padding: 30px 20px;
}

.footer-buttons {
    margin-top: 40px; /* afstand fra tekst til knapper */
    
    

}


/* front page */

.main-intro-text {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.main-intro-text h1 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    
}
.main-intro-text p {
    color: #c9d8e2;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.main-button {
    display: block;
    background-color: #00000000;
    margin: 20px auto;
    text-align: center;
    color: #ffffff;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    border: 10px;
}

* {
    box-sizing: border-box; 
}

.slider {
    width: 500px;
    text-align: center;
    overflow: hidden;
    
    
}
.slides {
    display: flex;

    overflow-x: auto;
    scroll-behavior: auto;
    
    scroll-behavior: smooth;
    
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 600px;
    height: 500px;
    margin-right: 50px;
    border-radius: 10px;
    background: #462829;
    transform-origin: center center;
    transform: scale(1);
    
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    
}

.slides > div:target {
transform: scale(1.0);
}

.author-info {
    background-color: rgb(12, 47, 78);
    color: bisque;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}
.author-info a {
  color: rgb(53, 18, 18);
}


.slider > a {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 5px;
  position: relative;
  border: 1 px solid #255,255,255,0.5;
}
.slider >a:active {
    top:1px;
}
.slider > a:focus {
    background: #c9d8e2;
}

.myproject.html {
    background-color: #000000;
}

h1 {
    color: #c9d8e2;
}
/*about me*/


/*my projects*/
.projects-section {
    padding: 40px 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.project-row {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}
.project {
    background: #0000005b;
    padding: 20px;
    border-radius: 10px;
    width: calc(50% - 40px);
    max-width: 600px;
    min-width: 280px;
    color: #ffffff;
    text-align: center;
}
.project h2 {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6rem;
    margin-bottom: 15px;
    color: #ffffff;
}
.project p {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6rem;
    margin-top: 10px;
    color: #ffffff;
} 
.project img, 
.project video {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-top: 10px;
}


/*contact*/

.flex-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    gap: 40px;
    max-width: 1000px;
    background-color: #31010100;
}
.contact1 {
    flex: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}

.contact2 {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.021);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.contact2 h2 {
    text-align: center;
    margin-bottom: 20px;
}
.contact2 form {
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.contact2 label {
    font-size: 0.9rem;

}
.contact2 input,
.contact2 textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;

}
.contact2 textarea {
    height: 120px;
    resize: vertical;

}
.contact2 button {
    padding: 12px;
    background: black;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.2s;

}

.contact2 button:hover {
    background-color: aqua;
    
}



    



/*@media (min-widht:700px) {
    header{
        grid-template-columns: auto 6fr 4fr;
        grid-template-rows: auto;
        row-gap: 20px;
        text-align: center;
        flex-direction: column;

    }
    .logo {
        max-width: 150px;
        flex-direction: row;

    }
    .header-buttons button {
        font-size: 0,5rem;
        padding: 0.5 0.5 0.5 0.5;
        flex-direction: row;
    }
}
@media (max-widht:700px) {
    .header{
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        row-gap: 10;
        flex-direction: row;
    }
    .logo {
        max-width: 100px;
        flex-direction: row;
    }
    .header-buttons button {
        font-size: 0,3rem;
        padding:0,1 0,1 0,1 0,1;
        flex-direction: row;
    }*/

@media (max-width:700px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 15px;
        text-align: center;
        flex-direction: column;
    }
}
@media (max-width: 900px) {
    .header-buttons {
        flex-direction: column;
        width: auto;
        text-align: center;
    }
}
@media (max-width:1024px) {
    .header{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 20px;
        flex-direction: column;
    }
    .logo {
        max-width: 150px;
        flex-direction: row;
    }
    .header-buttons button {
        font-size:0.85rem;
        padding:0.7em 1.2em;
        flex-direction: row;
        
    }
}
@media (max-width: 900px) {
    .procets {
        max-width: 100%;
        max-width: none;
    }
}
    